body {
  padding: .67em 2em 6em 2.5em;
  color: #111;
  position: relative;
}

  @media (min-width: 640px) {
    body {
      font-size: 1.67em;
    }
  }

a {
  color: #111;
  text-decoration: underline;
}

  a:hover {
    text-decoration: none;
  }

h1 {
  font-size: 1.25em;
  margin-top: .83em;
  margin-bottom: .83em;
}

h2 {
  font-size: 1em;
  margin-top:  1.5em;
  margin-bottom: .67em;
  font-weight: normal;
}

ul, ol {
  color: #666;
  margin-top:  0;
  margin-bottom:  0;
  padding-left: 0;
}

  ul.past {
    text-decoration: line-through;
  }

  ul ul {
    margin-top: .5em;
    margin-bottom: .83em;
    padding-left: 1em;
  }

ol {
  list-style-type: cjk-heavenly-stem;
}

li {
  margin-bottom: .25em;
}

.seal {
  color: #d55;
  border: .1em solid #d55;
  position: absolute;
  padding: .33em .25em .33em;
  border-radius: 10em;
  line-height: 1.25em;
  font-size: 1.167em;
  font-family: "Adobe Kaiti Std", "STHeitiTC-Medium", "DFKai-SB", "KaiTi", "SimKai";
  right: .5em;
  bottom: .5em;
}

img.me {
  width: 320px;
  height: auto;
  max-width: 100%;
  margin-bottom: -.83em;
}