body {
  padding: 6em 2em 6em 3em;
  margin: .5em;
  color: #2e2d33;
  background: #fffcfa;
  position: relative;
}

  @media (min-width: 640px) {
    body {
      font-size: 1.5em;
    }
  }

a {
  color: #2e2d33;
  text-decoration: underline;
}

  a:hover {
    text-decoration: none;
  }

h1 {
  font-size: 1.25em;
  margin-top: .83em;
  margin-bottom: 2em;
}

h2 {
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: .67em;
  font-weight: normal;
}

ul, ol {
  color: #6a6874;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  max-width: 30em;
}

ol {
  list-style-type: decimal-leading-zero;
}

li {
  margin-bottom: .5em;
  margin-left: -.25em;
  padding-left: .25em;
  line-height: 1.2em;
}

.seal {
  color: #d55;
  border: 1px solid #d55;
  position: absolute;
  padding: .33em .2em .2em;
  line-height: 1.25em;
  font-size: 1.167em;
  font-family: "Adobe Kaiti Std", "STHeitiTC-Medium", "DFKai-SB", "KaiTi", "SimKai";
  right: .5em;
  bottom: .5em;
}

img.me {
  width: 6em;
  border-radius: 2.5em;
  height: auto;
  max-width: 100%;
}