<!--?xml version="1.0" encoding="UTF-8"?-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.title}}</title>
  <meta name="Description" content="{{page.description}}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="{{page.url}}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{page.description}}">
  <meta property="og:image" content="{{page.image}}">
  <link type="text/css" rel="stylesheet" href="style.css">
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>
