<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
html(lang="en")
	head
		title Julius Tarng — Design and Stuff
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width")
		meta(property="og:title", content="Julius Tarng — Design and Stuff")
		meta(property="og:url", content="http://tarng.com")
		meta(property="og:type", content="website")
		meta(property="og:description", content="a ~web~ ~page~")
		meta(property="og:image", content="http://cl.ly/image/0M2Z082g2a0c/6dJ0Ps1W.png")
		link(type="text/css" rel="stylesheet" href="style.css")
	body
		img.me(src="julius.gif" alt="me")
		h2 Julius Tarng
		h3
			ul.past
				| After studying Industrial Design & HCI at Carnegie Mellon, I
				li designed objects and interfaces at Smart Design like <a href="http://www.amazon.com/gp/product/B00A2KD8LQ/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00A2KD8LQ&linkCode=as2&tag=julitarn-20" target="blank">this OXO spatula</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=julitarn-20&l=as2&o=1&a=B00A2KD8LQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				li
					| explored community building and online discourse systems in 
					a(href="http://www.theverge.com/2012/10/15/3490670/branch-redesign", target="_blank") Branch
					| ,&#32;
					a(href="http://www.theverge.com/2013/11/21/5129772/potluck-2-messaging-app-for-the-news", target="_blank") Potluck
					| &#32;and&#32;
					a(href="http://newsroom.fb.com/news/2014/10/introducing-rooms/" target="_blank") Rooms
				li 
					| hacked on&#32;
					a(href="https://medium.com/facebook-design/a-month-designing-in-vr-62474aef1f1c" target="_blank") virtual reality
					| &#32;and photographed&#32;
					a(href="https://medium.com/facebook-design/photographing-diverse-hands-at-facebook-3229ea76f94#.jttl1u4qa" target="_blank") a bunch of hands
				li
					| lead the development of design workflow tooling and infrastructure to support over 600 product designers and thousands of their peers at Facebook
			ul.now
				| I now
				li อยู่ที่กรุงเทพ / am taking a break in Bangkok to travel and eat around Asia
				li draw daily on 
					a(href="http://instagram.com/tarngerine", target="_blank") Instagram
				li make 
					a(href="http://tarngerine.itch.io", target="_blank") video games
					| &nbsp;for game jams
				li watch lots of 
					a(href="http://myanimelist.net/profile/tarngerine/", target="_blank") anime
				li play too much 
					a(href="https://www.overbuff.com/players/psn/jarngerine?mode=competitive") Overwatch
				li try to&#32;
					a(href="notes.html", target="_blank") learn stuff
				li.hiddenProjects: a(href="/-2011") hide my old projects here
		.seal
			| 唐
			br
			| 昱
